<div class="row">
    <div class="col-xs-12">
        <img src="" alt="Detail-Image" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" 
        id="dropdownBasic1" ngbDropdownToggle>Manage Recipe</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>To Shopping List</button>
          <button ngbDropdownItem>Edit Recipe</button>
          <button ngbDropdownItem>Delete Recipe</button>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>