<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="col-xs-12">
    <a *ngFor="let recipe of recipes" href="#" class="list-group-item clearfix">
<div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="recipe.imagePath" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-recipe-item></app-recipe-item>
  </a>
</div>








